---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import MainTitle from '../components/MainTitle.astro';
import Register from '../components/Register.svelte';
---

<Layout title="Nipsr - Nostr platform">
	<main>
		<MainTitle/>
		<Register client:load/>
		<Footer/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		max-width: 1200px;
	}
</style>
