<footer>
    Nipsr - made by <a href="http://www.nipsr.com">gui@nipsr.com</a>
</footer>

<style>
    footer {
        padding: var(--spacing3x);
        text-align: center;
        margin-top: var(--spacing3x);
    }

    a {
        color: var(--accent);
    }
</style>